/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layer */
@layer base {
  h1 {
    @apply p-4 text-center text-5xl;
  }

  h2 {
    @apply py-3 text-4xl text-slate-100;
  }

  h3 {
    @apply py-3 text-3xl text-white;
  }

  h4 {
    @apply py-2 text-2xl text-slate-200;
  }

  h5 {
    @apply py-1 text-xl text-slate-300;
  }

  h6 {
    @apply text-lg text-slate-300;
  }

  p {
    @apply py-5 leading-8 text-slate-200;
  }

  input {
    @apply rounded-full border-none bg-slate-50/90 p-1 px-3 text-black outline-none duration-200 focus-visible:shadow-md;
  }

  label {
    @apply cursor-pointer text-xl;
  }

  button {
    @apply select-none;
  }
}

@layer components {
}

/* Variables */
:root {
  --foreground: white;
  --background-start: #05b7fe 0%;
  --background-end: #0564e6 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background-start: #0564e6 0%;
    --background-end: #7602ff 100%;
  }
}

/* Body */
body {
  color: var(--foreground);
  background: linear-gradient(
    to bottom left,
    var(--background-start),
    var(--background-end)
  );
  overflow: hidden;
  height: 100svh;
}
